<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Plugin App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Plugin App</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-button (click)="getGPS()">Get GPS</ion-button>
    <br>
    {{longitude}}, {{latitude}}
    <br>
    <ion-button (click)="openBrowser()">Open</ion-button>
    <br>
    {{url}}
</ion-content>
